*.class
target
*.zip
plugin.xml
*plugin.xml
*.pom
*.md5
*.sha1
.classpath
.link_to_grails_plugins
*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
/target-eclipse/classes/.BuildConfig.groovy.swp